* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2, 
section h3,
section h4
form button {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body, input, textarea { /*trocar a fonte de todo o site*/
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-image: linear-gradient(0deg, #000 0%, #1d2e56 100%);
    color: #4d6f94;
}

header nav li { /*links do menu*/
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a { /*para alterar um link diretamente precisa do a*/
    color: #4d6f94;
    text-decoration: none;
}

.container {
    max-width: 1280px; 
    width: 100%;  /*deixa o conteudo centralizado*/
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*deixar igualmente espaçados, um em cada canto*/
}

section .container { /*para sobreescrever o align intems anterior*/
    align-items: flex-start;
}

section { /*espaçamento em todo o section*/
    padding: 24px 0;
}

section h2,
section h3,
section h4 {
    margin-bottom: 16px; /*espaçamento pro titulo h2*/
}

section h4 {
    font-size: 18px; 
    margin: 16px 0;
}

section {
    color:  #abc2c5; /*tudo que tiver dentro da section vai ter essa cor*/
    background-color: #000;
}

section p { /*espaçamento pros parágrafos*/
    margin-bottom: 8px;
}

.logo img {
    height: 60px;
}

.logo {
    display: flex; /*para a logo ficar do lado do texto*/
    align-items: center; /*para alinha a logo com o texto*/
}

.map { /*para editar so a imagem que tem essa classe*/
    margin-right: 32px;
    height: 320px;
}

.characters-list {
    display: flex;
}

.characters-list li {
    margin-right: 8px;
    display: inline;
}

.characters-list img { 
    height: 180px;
    margin-top: 16px;
    background-image: linear-gradient(0deg, #1d2e65 0%, #000 50%);
}

ul li {
    display: flex;
    padding: 24px 24px;
}

.sword-skills h3,
.spell-skills h3 {
    margin-top: 64px;
}

#skills img {
    width: 25%;
}

.social-links img { /*editar o tamanho das imagens dos links*/
    height: 24px;
}

.social-links li {
    display: inline; /*para ficarem alinhados*/
}

.social-links li a {
    text-decoration: none; /*tirar o underline das imagens*/
}

#contact .container { /*para que essa section fique difente das outras colocamos um id*/
    display: block;
}

.contact-methods { /*para editar só a parte dos contatos*/
    display: flex;
    justify-content: space-between;
}

form input, /*editar os diferentes forms*/
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea { 
    resize: none; /*para que o texarea nao possa ser redimensionado*/
    height: 180px;
}

form button { /*estilizando o botao*/
    background-color: #1d2e65;
    color: #abc2c5;
    border: none;
    cursor: pointer; /*para o cursor mudar quando passa no botao*/
}

form button:hover { /*botao muda quando o mouse passa*/
    background-color: #abc2c5;
    color: #1d2e65;
    transition: 0.3s; /*transicao suave*/
}

input:focus, textarea:focus {
    outline-color:#1d2e65 ; /*mudar a cor da ''borda'' quando passa o cursor*/
}

footer {
    background-color: #000;
    color: #abc2c5;
    padding: 16px 0;
}

#contact {
    background-color:#362e42;
}

.social-links li {
    padding: 0px 24px 0px 0px;
}